* {
    font-family: 'Microsoft JhengHei';
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* header {
    height: 115px;
} */
header {
    height: 57px;
}

main {
    flex: auto;
    /* background-color: #ccc; */
    /* background:
        linear-gradient(45deg, transparent 49.5%, deeppink 49.5%, deeppink 50.5%, transparent 50.5%); */
    /* background: -webkit-linear-gradient(left top, blue 50%, white 50%); */
}

footer {
    height: 25px;
}



@media (min-width: 992px) {
    nav {
        padding: 0 50px !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex;
        justify-content: end;
    }

    .navbar-expand-lg .navbar-nav-scroll {
        display: contents;
    }
}

.navbar-brand img {
    /* width: 107px; */
    height: 50px;
    /* top: 14px; */
    /* left: 118px; */
    opacity: 75%;
}

.navbar-collapse .nav-item a {
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
}

.font-Home {
    color: #FF0073 !important;
}

.font-News {
    color: #FF002E;
}

.font-Business {
    color:
        #FF6626;
}

.font-NightMarket {
    color:
        #FF9B26;
}

.font-contact {
    color: #FFBB00;
}


.font-Home:focus,
.font-Home:hover {
    color: #c5206b !important;
}

.font-News:focus,
.font-News:hover {
    color: #b02 !important;
}

.font-Business:focus,
.font-Business:hover {
    color: #d57046 !important;
}

.font-NightMarket:focus,
.font-NightMarket:hover {
    color: #cd842f !important;

}

.font-contact:focus,
.font-contact:hover {
    color: #cba12f !important;

}




.img-banner {
    display: inline-block;
}

.box {
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news {
    padding: 40px 0 50px 0;
}

.news,
.guide,
.contact {
    display: grid;
    justify-content: center;
}



.img-textOne {
    width: 476px;
    height: 153px;
    background: #FFFFFF;
    border: 3px solid #FF6626;
    border-radius: 15px;
    margin-left: 10px;
    display: grid;
    padding: 20px;

}

.img-textTwo {
    width: 827px;
    height: 352px;
    background: #FFFFFF;
    border: 5px solid #0B0B0B;
    border-radius: 30px;

    display: grid;
    text-align: center;
    justify-content: center;
    padding: 35px;

}

.fistNews-red {
    width: 377px;
    /* height: 194px; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #F21616;
    font-size: 20px;
}

.fistNews-gray {
    width: 377px;
    /* height: 194px; */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #616161;
    font-size: 20px;

}


.pic-group {
    display: flex;
    justify-content: space-around;
}

.pic-text {
    display: flex;
}


.guide-group {
    margin-top: 130px;
}

/* .ImgOne {
    width: 229px;
    height: 154px;
} */


.ImgOne,
.ImgTwo {
    width: 230px;
    height: 153px;
}

.ImgThree {
    width: 752px;
    height: 495px;

    position: relative;
    right: 0;

}

.text-One {
    right: 100px;
    top: 80px;
    position: relative;

    display: grid;
    text-align: center;
    justify-content: center;
    padding: 35px;
}

.text-Two {
    left: 100px;
    top: 80px;
    position: relative;
    z-index: 1030;

    display: grid;
    text-align: center;
    justify-content: center;
    padding: 35px;
}

.content-black {
    width: 649.49px;
    height: 43px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #010101;
    /* display: flex; */
}

.content-red {

    width: 649.49px;
    height: 73.06px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;

    color: #E22222;
    /* display: flex; */
}


.content-gray {
    width: 649.49px;
    height: 94.44px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #989898;
    /* display: flex; */
}



/* contact-group */
.contact {
    padding: 200px 0 100px 0;
}

.group {
    display: flex;
    justify-content: space-around;
}

.text-shape {
    width: 762px;
    height: 584px;
    background: #FFFFFF;
    border: 4px solid #FF6626;
    border-radius: 15px;
    padding: 30px;
}

.shape-font {
    width: 674px;
    height: 558px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #E22222;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.text-form {
    display: inline-grid;
}

.text-group {
    display: block;
    padding-bottom: 40px;
}

.name label,
.tel label,
.email label,
.content label {
    height: 32px;
    color: #FFFFFF;

    font-size: 24px;
    line-height: 32px;
}

.name input,
.tel input,
.email input {
    width: 468px;
    height: 46px;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
    border: none;
}

.content textarea {
    width: 468px;
    height: 178px;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
    border: none;
    resize: none;

}